html {
  scroll-behavior: smooth;
}
body{
  background-color: #4729a4
}

.App {
  text-align: center;
  background-color: #4729a4
}

.Row-Header{
  text-align: center;
  background-color: rgb(52,29,120);
  contain: content;
  display: flex;
  place-content: center;

}
.Row-Header img{
  position: relative;
  width: 6vw;
  height: 6vw;
  
}
.Row-Header h2{
  position: fixed;
  color: white;
  font-size: 3vw;
  left: 10vw;
  top: -2vw;
}

.Row-Header h1{
  position: fixed;
  color: rgb(247,117,61);
  font-size: 3vw;
  right: 10vw;
  top: -1.6vw;
}
.Banner{
  background-color: rgb(52,29,120);
}
.Banner img{
  width: 99vw;

}
/*text-shadow: #FC0 1px 0 10px;*/
.Landing-Bottom {
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  background-position-y: 30%;
  background-size: contain;
  height: auto;
  margin-top: -3vw;
  padding-bottom: 2%;
}

.Row {
  display: flex;
  padding-top: 3.5%;
  padding-bottom: 4%;
}
.index-6-1{
  align-items: center;
  contain: content;
  background-color: #141414e8;
  margin-right: 1.4vw;
  margin-left: 1.4vw;
  contain: content;
  border: 2px solid rgb(109, 109, 109);
  border-radius: 3%;
  width: 12.0vw;
  height: 17.0vw;
  
}
.index-6-1 img{
  height: 17.5vw;
  padding-left: 0;
  /*align-items: center;*/

  padding-bottom: 5px;
}
.index-6-1 h4 {
  padding-top: 4.6vw;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
.index-6-1 p{
  padding-top: 0.2vw;
  text-align: center;
  color:rgb(167, 167, 167);
  font-size: 0.92vw;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}

.join-discord{
  background-color: #f5733d
}
.join-discord img{
  width: 10vw;
}
.join-discord h1{
  color:black;
  font-size: 2.5vw;
  padding-bottom: 6%;
 /* color: rgb(52,29,120);*/
}


.teachers{
  margin-top: -5vw;
  min-height: 34vw;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: justify;
}
.teachers h1{
  color: white;
  padding-top: 8vw;
  margin-left: 5vw;
  font-size: 6vw;
}

.teachers h6{
  margin-left: 5.1vw;
  color: white;
  font-size: 1.25vw;
  margin-top: -4vw;
}
.t-button{
  box-shadow: 0px 0px 40px rgb(0, 0, 0);
  text-align: center;
  margin-top: -2.5vw;
  margin-bottom: 2vw;
  background-color: #f5733d;
  max-width: 10vw;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8%
}
.t-button p{
  font-size: 1vw;
  color: black;
  font-weight: 700;
  border: 0;
}
.section-carousel{
  padding-top: 0.5vw;
  padding-bottom: 3vw;
  text-align: -webkit-center;
}
.section-carousel a{
  text-decoration:none;
  
}

/* Flashing */
.hover figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
figure{
  margin-block-start: 0em;
}

.person img{
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
