html {
  scroll-behavior: smooth;
  font-family: 'Chakra Petch', sans-serif;
}
body{
  z-index: -1;
  background-color: #4729a4;
  font-family: 'Chakra Petch', sans-serif;
}

.App {
  overflow: clip;
  position: absolute;
  text-align: center;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.videoBg hr{
  margin-top: 1vh;
}

.Row-Header{
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.616);
  text-align: center;
  min-height: 11vh;
  margin-bottom: 0vw;
  contain: content;
  display: flex;
  place-content: center;
}
.RowLogo{
  contain: content;
  position: fixed;
  top: 0.7vw;
  left: 10vw;
}
.RowLogo img{
height: 4vw;
}
.Row-Header h2{
  position: fixed;
  color: white;
  font-size: 3vw;
  left: 10vw;
  top: -2vw;
}

.Row-Buttons{
  right: 25vw;
  display: flex;
  padding-top: 2vw;
  text-decoration: none;
}

.rowHeader{
  text-decoration: none;
  position: static;
  color: #ffe23d;
  font-size: 1.5vw;
  margin-left: 3vw;

}

.Row-Discord img{
  padding: 0.5vw;
  margin-top: 0.5vw;
  width: 3vw;
  height: fit-content;

}
.Row-Discord{
  contain: content;
  max-height: 4vw;
  text-align: center;
  align-items: center;
  position: fixed;
  border: 2px solid rgba(94, 0, 82, 0.514);
  background-color: #00000085;
  border-radius: 1vw;
  right: 10vw;
  top: 0.5vw;
}
@media (max-width:480px){
  .Row-Header{
    background-color: rgba(0, 0, 0, 0.507);
    text-align: center;
    min-height: 5.5vh;
    margin-bottom: -2vw;
    contain: content;
    display: flex;
    place-content: center;
  }
  .Row-Header h2{
    position: fixed;
    color: white;
    font-size: 4vw;
    left: 6vw;
    top: -2vw;
  }
  .RowLogo{
    contain: content;
    position: fixed;
    top: 1.4vw;
    left: 6vw;
  }
  .RowLogo img{
    height: 7.5vw;
  }
  .Row-Buttons{
    display: flex;
    margin-top: .8vh;
    margin-left: 5vh;
    text-decoration: none;
  }
  .rowHeader{
    text-decoration: none;
    position: static;
    color:  #ffe23d;
    font-size: 1.4vh;
    margin-left: 3.5vw;
  }
  .Row-Discord img{
    padding-bottom: 0.5vw;
    position: relative;
    width: 4vw;
    height: auto;
  }
  .Row-Discord{
    display: grid;
    justify-content: center;
    contain: content;
    max-height: 5vw;
    max-width: 10vw;
    text-align: center;
    align-items: center;
    position: fixed;
    border: 2px solid rgba(94, 0, 82, 0.514);
    background-color: #00000085;
    border-radius: 1vw;
    right: 7vw;
    top: 1vh;
  }
  .dcHeader{
    top: -4vw;

  }
}
/*-----------------------LANDING------------------------*/


.Banner{
  min-height: 44vw;
  margin-top: -10vw;
  text-align: -webkit-center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
}

.Banner a{
  text-decoration: none;
}
.Banner h1{
  padding-top: 15vw;
  color: #ffe23d;
  font-size: 5vw;

}
.Banner h2{
  margin-top: 4vw;

  color:white;
  font-size: 2.5vw;

}
.Banner h4{
  margin-top: 4vw;
  margin-bottom: 10vw;
  color:white;
  font-size: 1vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

.Landingbutton{
  text-align: center;
  box-shadow: 0px 0px 2vw rgb(0, 0, 0);
  text-align: center;
  margin-top: -7.5vw;
  margin-bottom: 5vw;
  background-color: #ffffff;
  width: 13vw;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1vw;
}
.Landingbutton:hover, .Landingbutton p:hover{
  background-color: rgb(182, 182, 182);
}

.Landingbutton p{
  font-size: 1vw;
  color: black;
  font-weight: 700;
  border: 0;
}
@media (max-width:480px){
  .Banner h1{
  margin-left: 0.7vw;
  margin-top: 10vw;
  color:#ffe23d;
  font-size: 10vw;
}
.Banner h2{
  margin-top: -5vw;
  margin-bottom: 5vw;
  color:white;
  font-size: 5vw;

}
.Banner h4{
  margin-bottom: 10vw;
  color:white;
  font-size: 2.6vw;
  margin-left: 15vw;
  margin-right: 15vw;
}

.Landingbutton{
  text-shadow: 0px 0px 5vw rgb(0, 0, 0);
  text-align: center;
  box-shadow: 0px 0px 5vw rgb(0, 0, 0);
  text-align: center;
  margin-top: -7.5vw;
  margin-bottom: 5vw;
  background-color: #ffffff;
  width: 20vw;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1vw;
}
.Landingbutton:hover, .Landingbutton p:hover{
  background-color: rgb(182, 182, 182);
}

.Landingbutton p{
  font-size: 2vw;
  color: black;
  font-weight: 700;
  border: 0;
}
}
/*-----------------GAMES----------------------*/

/*text-shadow: #FC0 1px 0 10px;*/
.Landing-Bottom {
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  background-position-y: 30%;
  background-size: contain;
  height: auto;
  margin-top: 3vw;
}

.Row {
  border: 2px solid rgb(99, 0, 90);
  border-radius: 3vw;
  background-color: #1414148c;
  display: flex;
  padding-top: 3.5%;
  padding-bottom: 4%;

}
.index-6-1{
  align-items: center;
  contain: content;
  box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.185);
  background-color: #141414e8;
  margin-right: 1.4vw;
  margin-left: 1.4vw;
  contain: content;
  border: 2px solid rgb(94, 0, 81);
  border-radius: 1vw;
  width: 15.0vw;
  height: 23.0vw;
}
.index-6-1 img{
  height: 23vw;
  padding-left: 0;
  /*align-items: center;*/
  padding-bottom: 5px;
}
.index-6-1 h4 {
  padding-top: 4.6vw;
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 1.0vw;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
.index-6-1 p{
  padding-top: 0.2vw;
  text-align: center;
  color:rgb(167, 167, 167);
  font-size: 0.92vw;
  padding-left: 10px;
  padding-right: 8px;
  font-family:Tomorrow;
}
@media (max-width:480px){
  .index-6-1{
    align-items: center;
    contain: content;
    box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.185);
    background-color: #141414e8;
    margin-right: 2vw;
    margin-left: 2vw;
    contain: content;
    border: 2px solid rgb(94, 0, 81);
    border-radius: 1vw;
    width: 19.0vw;
    height: 27.0vw;
    
  }
  .index-6-1 img{
    height: 28vw;
    padding-left: 0;
    /*align-items: center;*/
    padding-bottom: 5px;
  }
}

/*--------------------------JOIN-DISCORD--------------------------*/
.join-discord{
  display: flex;
  justify-content: center;

}
.dcRow{
  margin-top: 4vw;
  display: flex;
  min-height: max-content;
}
.dcImg img{
  width: 4vw;
  top: 2.3vh;
  position: absolute;
  margin-left: -2vw;
  margin-right: 2vw;
}
.dcGrid h4{
  color: white;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
  margin-top: 0.5vw;
  position: relative;
  font-size: 1.4vw;
}
.dcGrid h3{
  color: white;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
  margin-top: -2vw;
  padding-bottom: 1vw;
  font-size: 1.5vw;

}
#arrowIcon{
  margin-top: 3vw;
  height: 2vw;
  width: 2vw;
  padding: 0;
}
.dcImg{
  align-items: center;
  contain: content;
  box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.185);
  background-color: #141414e8;
  margin-right: 1.4vw;
  margin-left: 1.4vw;
  contain: content;
  border: 2px solid rgb(94, 0, 81);
  border-radius: 1vw;
  width: 7.0vw;
  height: 7.0vw;
}
.dcRow{
  margin-top: 4vw;
  margin-left: -3vw;
  display: flex;
  min-height: max-content;
}
.join-discord h1{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-size: 5.2vw;
  margin-top: 1vw;
}
.join-discord h2{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-weight: 100;
  font-size: 1vw;
  margin-top: 5vw;
  margin-bottom: 1.5vw;
}

@media (max-width:480px){
.join-discord h1{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-size: 8.2vw;
  margin-top: 1vw;
}
.join-discord h2{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-weight: 100;
  font-size: 2.5vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.dcImg{
  align-items: center;
  contain: content;
  box-shadow: 0px 0px 1vw rgba(255, 255, 255, 0.185);
  background-color: #141414e8;
  margin-right: 1.4vw;
  margin-left: 1.7vw;
  contain: content;
  border: 2px solid rgb(94, 0, 81);
  border-radius: 1vw;
  width: 7.0vw;
  height: 7.0vw;
}
.dcGrid h4{
  color: white;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
  margin-top: 0.5vw;
  position: relative;
  font-size: 2.3vw;
}
.dcGrid h3{
  color: white;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
  margin-top: -2vw;
  padding-bottom: 1vw;
  font-size: 1.7vw;

}
.dcImg img{
  width: 5vw;
  top: 0.5vh;
  position: absolute;
  margin-left: -2.5vw;
  margin-right: 3vw;
}
.dcRow{
  margin-top: 5vw;
  padding-left: 8vw;
  display: flex;
  min-height: max-content;
}
}
/*-------------------------TEACHERS-------------------------*/
.teachers-bg{
    background-color: #00000044;
}
.teachers{
  z-index: 1;
  margin-top: -5vw;
  min-height: 34vw;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: justify;
}
.teachers h1{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  padding-top: 8vw;
  margin-left: 5vw;
  font-size: 6vw;
}

.teachers h6{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  margin-left: 5.1vw;
  color: white;
  font-size: 1.25vw;
  margin-top: -4vw;
}

.teachers h5{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  max-width: 30vw;
  margin-left: 5.1vw;
  color: white;
  font-size: 1.25vw;
  margin-top: 1vw;
}

.teachers img{
  text-align: center;
  width: 10vw;
}

.t-button:hover, .t-button p:hover{
  background-color: rgb(146, 146, 146);
}

.t-button{
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 3vw rgb(0, 0, 0);
  text-align: center;
  margin-top: -3.5vw;
  margin-bottom: 2vw;
  background-color: #ffffff;
  width: 12vw;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 1vw;
}
.t-button p{
  font-size: 1vw;
  color: black;
  font-weight: 700;
  border: 0;
}

.teacher-face{
  z-index: 0;
  position: relative;
  margin-top: -25vw;
  margin-bottom: 10vw;
}

.section-carousel{
  z-index: 1;
  padding-top: 0vw;
  margin-top: -14vw;
  padding-bottom: 3vw;
  text-align: -webkit-center;
}
.section-carousel a{
  text-decoration:none;
  
}

@media (max-width:480px){
  .teachers-bg{
    background-color: #00000065;
}
  .teacher-face img{
    width: 55vw;
  }
  .person img{
    width: 20vw;
  }
  .teachers h1{
    text-shadow: 0px 0px 3vw rgb(0, 0, 0);
    color: white;
    padding-top: 8vw;
    margin-left: 5vw;
    font-size: 8.2vw;
  }
  .teachers h4{
    margin-left: 5.1vw;
    color: white;
    font-size: 2.2vw;
    margin-top: -4vw;
  }
  .teachers h5{
    text-shadow: 0px 0px 3vw rgb(0, 0, 0);
    max-width: 30vw;
    margin-left: 5.1vw;
    color: white;
    font-size: 1.7vw;
  }
  .teachers h6{
    margin-left: 5.1vw;
    color: white;
    font-size: 3vw;
  }
  
.t-button{
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 3vw rgb(0, 0, 0);
  text-align: center;
  margin-top: -3.5vw;
  margin-bottom: 2vw;
  background-color: #ffffff;
  width: 16vw;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1vw;
}
.t-button p{
  font-size: 2vw;
  color: black;
  font-weight: 700;
  border: 0;
}

  #tLongDesc h6{
    margin-top: 5vw;
    max-width: 30vw;
}
}
/*--------------------------HOVER--------------------------*/
/* Flashing */
.hover figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
figure{
  margin-block-start: 0em;
}
.gameimg img{
  width: 15vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.person img{
  width: 10vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

/*-------------------------MISSION---------------------------*/

.mission{
  justify-content: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: grid;
}

.mission-header h2{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-size: 5.2vw;
  margin-top: 1vw;
}

.mission-context{
  display: flex;
  align-items: center;
}
.mission-context img{
  height: min-content;
  max-width: 25vw;
  margin-top: -4vw;
}
.mission-box h6{
  color:white;
  font-size: 1.2vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
.mission-context img{
  visibility: visible;
}
.mission-box{
  box-shadow: 0px 0px 3vw rgb(0, 0, 0);
  display: flex;
  margin-bottom: 10vw;
  margin-top: 5vw;
  align-items: center;
  background-color: #2d1966;
  /*
    right: 10vw;
  margin-right: 1.4vw;
  margin-left: 1.4vw;
  */
  contain: content;
  border: 2px solid rgb(247,117,61);
  border-radius: 1vw;
  width: 33.0vw;
  min-height: 10vw;
  height: auto;
  
}
@media (max-width:680px){
  .mission-context img{
    visibility: hidden;
  }
  .mission-box{
    box-shadow: 0px 0px 3vw rgb(0, 0, 0);
    display: flex;
    margin-bottom: 10vw;
    margin-top: 5vw;
    align-items: center;
    background-color: #2d1966;
    /*
      right: 10vw;
    margin-right: 1.4vw;
    margin-left: 1.4vw;
    */
    contain: content;
    border: 2px solid rgb(247,117,61);
    border-radius: 1vw;
    width: 100.0vw;
    min-height: 10vw;
    height: auto;
    
  }
}
@media (max-width:480px){
  .mission-header h2{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-size: 8.2vw;
  margin-top: 1vw;
}
.mission-box h6{
  color:white;
  font-size: 3vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

}
/*----------------------JOIN-COMMUNITY------------------------*/
.join-community{
  background-color: #00000044;
  contain: content;
  margin-top: 3vw;
  margin-bottom: 3vw;
  text-align: -webkit-center;
  justify-content: center;
  text-shadow: 0px 0px 1vw rgb(0, 0, 0);
}

.join-community .Landingbutton{
  margin-top: 7vw;
  max-width: 15vw;
  max-height: 10vw;
}

.join-community a{
  text-decoration: none;
}
.join-community h3{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -2vw;
  font-size: 5.2vw;
  margin-top: 3.5vw;
}
.join-community h4{
  margin-bottom: 4vw;
  margin-top: 5vw;
  color:white;
  font-size: 1.4vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
.join-community img{
  position: absolute;
  width: 100vw;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
@media (max-width:480px){
  .join-community h3{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  color: white;
  margin-bottom: -4vw;
  font-size: 8.2vw;
  margin-top: 1vw;
}
.join-community h4{
  margin-bottom: 4vw;
  margin-top: 5vw;
  color:white;
  font-size: 2.4vw;
  margin-left: 15vw;
  margin-right: 15vw;
}
  .join-community img{
    top: 40%;
    height: auto;
  }
  .join-community .Landingbutton{
  margin-top: 7vw;
  max-width: 20vw;
  max-height: 15vw;
}
  .join-community{
    background-color: #0000005b;
  }
}

/*-------------------------FOOTER---------------------------*/

.footer{
  background-color:#442757;
  text-align: center;
}
.footer-text{
  padding-top: 0.005vw;
  text-align: center;
}
.footer-text h6{
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
  max-width: 60vw;
color: white;
font-size: 1vw;
margin-bottom: 1vw;
margin-top: 0.2vw;
}
.icons{
  text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  justify-content: center;
  display: flex;
  margin-bottom: -2vw;
}
.icons img{
  margin-left: -3vw;
  margin-right: -3vw;
  width: 3vw;
}

.footer h4{
  color: white;
  margin-bottom: 0;
  padding: 5px;
}

@media (max-width:480px){
  .footer-text{
    padding-top: 1vw;
  }
  .icons img{
    margin-left: -50vh;
    margin-right: -50vh;
    width: 6vw;
  }
  .footer-text h6{
    max-width: 100vw;
    color: white;
    font-size: 2.3vw;
    margin-bottom: 3vw;
  }
  .footer h4{
    margin-top: -5vw;
    color: white;
    margin-bottom: 0;
    font-size: 2vw;
  }
}
