#roadmap{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    
}

main {
    width: 20vw;
    max-width: 500px;
    margin:auto;
    margin-bottom: 50px;
    
  }

#roadmap .roadmap-title{
    text-shadow: 0px 0px 3vw rgb(0, 0, 0);
  text-align: center;
  margin-top: 1vw;
  font-size: 5vw;
  margin-bottom: 3vw;
  color: rgb(255, 255, 255);


}
#roadmap p{
  font-family: "Arial";
  font-size: 1.2vw;
  line-height: 1.75vw;
  border-top: 0.8vw solid;
  border-image: linear-gradient(to right, #ff7300 0%, #ffd900 100%);
  border-image-slice: 1;
  border-width: 0.4vw;
  margin: 0;
  text-align: center;
  padding: 2.1vw;
  counter-increment: section;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  filter: 
      drop-shadow(rgba(0, 0, 0, 0.95) 0px 0px 1.6366px) 
      drop-shadow(rgba(0, 0, 0, 0.767) 0px 0px 4.283px) 
      drop-shadow(rgba(0, 0, 0, 0.44) 0px 0px 12.849px);
}
#roadmap p:nth-child(odd) {
    border-right: 0.4vw solid;
    padding-left: 2.5vw;
}
#roadmap p::before {
    left: 100%; 
    margin-left: -20px;
}
p:nth-child(even) {
  border-left: 0.4vw solid;
  padding-left: 0;
  margin-right: 100px;
}
p::before {
  right: 100%; 
  margin-right: -20px;
}


